/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"); */

body {
  background-color: #0d0d0d;
  padding-bottom: 50px;
}

h1 {
  color: blue;
}

.header_logo {
  width: 100%;
  height: auto;
  background-color: #0d0d0d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_logo img {
  height: 10vh;
}

.header_infos {
  background-image: url("../img/banner.png");
  background-size: cover;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px;
}
.header_infos h1 {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: bold;
  margin-left: 150px;
}

.header_infos p {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  max-width: 68%;
  margin-left: 150px;
}

main {
  padding-left: 150px;
  display: flex;
  flex-direction: row;
}

.main_nav {
  display: flex;
  height: 20vh;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.main_nav h3 {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}

.main_nav ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.main_nav ul li {
  color: #ffffff;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  height: 60px;
  width: 230px;
  border: 2px solid #ffffff;
  border-radius: 50px;
}

.main_nav ul li:hover {
  background-color: #ffffff;
  color: #0d0d0d;
  transition: 0.2s;
  cursor: pointer;
}
.main_nav ul li:active {
  background-color: #e5e5e5;
}

.main_vitrine {
  width: 100%;
  height: auto;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.main_card {
  width: 90%;
  height: auto;
  height: 350px;
  background-image: url("../img/imagemCard.png");
  background-size: cover;
}

.main_card_top {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  color: #ffffff;
  margin-left: 30px;
}
.main_card_top h2 {
  font-size: 40px;
}
.main_card_top span {
  font-size: 28px;
}

.main_card_bottom {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  color: #ffffff;
  margin-left: 30px;
}
.main_card_bottom p {
  font-size: 28px;
  max-width: 70%;
  margin-bottom: 50px;
}
.main_card_bottom span {
  font-size: 28px;
  margin-bottom: 50px;
}
.main_card_bottom span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.main_left {
  width: 70%;
}

.main_playlist {
  width: 30%;
  height: 600px;
}
.main_playlist h3 {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  margin-bottom: 30px;
  margin-top: 60px;
}

.playlist_li {
  display: flex;
  flex-direction: row;
  height: 110px;
  align-items: center;
}
.playlist_li img {
  height: 95%;
  width: auto;
  margin-right: 10px;
}
.playlist_li_center {
  width: 50%;
}
.playlist_li_center div h4 {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-weight: bold;
}
.playlist_li_center div span {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}
.playlist_li_playButton {
  display: flex;
  height: 50%;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}
.playlist_li_playButton img {
  height: 30px;
  margin-right: 10px;
}
.playlist_li_end {
  width: 25%;
  height: 100%;
  display: flex;
}
.playlist_li_end button {
  height: 30px;
  width: 30px;
  margin-top: 10px;
  background-color: transparent;
  background-image: url("../img/trash-icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
}

.playlist_li_end button:hover {
  cursor: pointer;
}
